<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
    <!-- Using ejs to import the head code -->
    <link rel="stylesheet" type="text/css" href="/css/index-main.css">
    <!-- Linking the stylesheet for the index page -->
  </head>

  <body>
    <header>
      <% include ../partials/header.ejs %>
      <!-- Using ejs to import the header code -->
    </header>

      <main>
        <!-- Top  5 in the user's location -->
        <section id="top5">
          <!-- Left slideshow arrow -->
          <div id="left" class="arrows">
            <img onclick="plusDivs(-1)" src="/images/left-arrow.png">
          </div>

          <!-- Top 5 #1 -->
          <div class="slideshow">
            <div class="text">
            <h1 class="title">Guardians of the Galaxy</h1>
            <ul class="info">
              <li class="rating">⭐️ 7.4 <i> /10</i></li>
              <li class="duration">Run Time: 2h 21'</li>
              <li class="age">Rated: PG-13</li>
            </ul>
            <p class="plot">Lorem ipsum dolor sit amet, no mei sapientem prodesset voluptatum,
              ad usu altera similique, vix cu intellegat inciderint. Eam in modus adipisci expetenda,
              nec ex choro omnium sadipscing.</p>
              <div><a href="#" class="button" tabindex="-1">more details</a></div>
          </div>
          <div class="image">
            <img src="/images/poster0.jpg" alt="Poster">
          </div>
          </div>

          <!-- Top 5 #2 -->
          <div class="slideshow">
            <div class="text">
            <h1 class="title">Game of Thrones</h1>
            <ul class="info">
              <li class="rating">⭐️ 7.4 <i> /10</i></li>
              <li class="duration">Run Time: 2h 21'</li>
              <li class="age">Rated: PG-13</li>
            </ul>
            <p class="plot">Lorem ipsum dolor sit amet, no mei sapientem prodesset voluptatum,
              ad usu altera similique, vix cu intellegat inciderint. Eam in modus adipisci expetenda,
              nec ex choro omnium sadipscing.</p>
              <div><a href="#" class="button" tabindex="-1">more details</a></div>
          </div>
          <div class="image">
            <img src="/images/poster0.jpg" alt="Poster">
          </div>
          </div>

          <!-- Top 5 #3 -->
          <div class="slideshow">
            <div class="text">
            <h1 class="title">Example 3</h1>
            <ul class="info">
              <li class="rating">⭐️ 7.4 <i> /10</i></li>
              <li class="duration">Run Time: 2h 21'</li>
              <li class="age">Rated: PG-13</li>
            </ul>
            <p class="plot">Lorem ipsum dolor sit amet, no mei sapientem prodesset voluptatum,
              ad usu altera similique, vix cu intellegat inciderint. Eam in modus adipisci expetenda,
              nec ex choro omnium sadipscing.</p>
              <div><a href="#" class="button" tabindex="-1">more details</a></div>
          </div>
          <div class="image">
            <img src="/images/poster0.jpg" alt="Poster">
          </div>
          </div>

          <!-- Top 5 #4 -->
          <div class="slideshow">
            <div class="text">
            <h1 class="title">Another Example</h1>
            <ul class="info">
              <li class="rating">⭐️ 7.4 <i> /10</i></li>
              <li class="duration">Run Time: 2h 21'</li>
              <li class="age">Rated: PG-13</li>
            </ul>
            <p class="plot">Lorem ipsum dolor sit amet, no mei sapientem prodesset voluptatum,
              ad usu altera similique, vix cu intellegat inciderint. Eam in modus adipisci expetenda,
              nec ex choro omnium sadipscing.</p>
              <div><a href="#" class="button" tabindex="-1">more details</a></div>
          </div>
          <div class="image">
            <img src="/images/poster0.jpg" alt="Poster">
          </div>
          </div>

          <!-- Top 5 #5 -->
          <div class="slideshow">
            <div class="text">
            <h1 class="title">Last example, Top 5</h1>
            <ul class="info">
              <li class="rating">⭐️ 7.4 <i> /10</i></li>
              <li class="duration">Run Time: 2h 21'</li>
              <li class="age">Rated: PG-13</li>
            </ul>
            <p class="plot">Lorem ipsum dolor sit amet, no mei sapientem prodesset voluptatum,
              ad usu altera similique, vix cu intellegat inciderint. Eam in modus adipisci expetenda,
              nec ex choro omnium sadipscing.</p>
              <div><a href="#" class="button" tabindex="-1">more details</a></div>
          </div>
          <div class="image">
            <img src="/images/poster0.jpg" alt="Poster">
          </div>
          </div>
          <!-- Right slideshow arrow -->

          <div id="right" class="arrows">
            <img onclick="plusDivs(1)" src="/images/right-arrow.png">
          </div>
        </section>
      

      <section id="white">
        <!-- Top 5 on Netflix -->
        <div class=" provider" id="netflix">
            <div class="top">
                <h2>Netflix <i>#Top5</i></h2>
                <a href="library.html">view all ></a>
            </div>
            <!-- Poster #1 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster1.jpg" alt="Poster 1">
                    <span>Into The Wild</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #2 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster2.jpg" alt="Poster 2">
                    <span>Skyfall</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #3 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster3.jpg" alt="Poster 3">
                    <span>It</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #4 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster4.jpg" alt="Poster 4">
                    <span>Inception</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #5 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster5.jpg" alt="Poster 5">
                    <span>Jurassic Park</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>

        </div>

        <!-- Top 5 on Netflix end-->
        <!-- Top 5 on Prime -->
        <div class=" provider" id="prime">
            <div class="top">
                <h2>Amazon <i>#Top5</i></h2>
                <a href="library.html">view all ></a>
            </div>
            <!-- Poster #1 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster1.jpg" alt="Poster 1">
                    <span>Into The Wild</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #2 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster2.jpg" alt="Poster 2">
                    <span>Skyfall</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #3 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster3.jpg" alt="Poster 3">
                    <span>It</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #4 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster4.jpg" alt="Poster 4">
                    <span>Inception</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #5 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster5.jpg" alt="Poster 5">
                    <span>Jurassic Park</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>

        </div>

        <!-- Top 5 on Amazon Prime end-->
        <!-- Top 5 on Hulu -->
        <div class=" provider" id="hulu">
            <div class="top">
                <h2>Hulu <i>#Top5</i></h2>
                <a href="library.html">view all ></a>
            </div>
            <!-- Poster #1 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster1.jpg" alt="Poster 1">
                    <span>Into The Wild</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #2 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster2.jpg" alt="Poster 2">
                    <span>Skyfall</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #3 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster3.jpg" alt="Poster 3">
                    <span>It</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #4 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster4.jpg" alt="Poster 4">
                    <span>Inception</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>
            <!-- Poster #5 -->
            <div class="posters">
                <div class="poster-title">
                    <img src="/images/poster5.jpg" alt="Poster 5">
                    <span>Jurassic Park</span>
                    <div class="imageInner">
                        <span><a href="movieshowinfo.html" class="poster-button" tabindex="-1">more details</a></span>
                    </div>
                </div>
            </div>

        </div>

        <!-- Top 5 on Hulu end-->

      </section>
    </main>

      <footer class="grid-100 tablet-grid-100 footer">
        <% include ../partials/footer.ejs %>
        <!-- Using ejs to import the footer code -->
      </footer>

      <script src="/scripts/slideshowscript.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
