<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
    <!-- Using ejs to import the head code -->
  </head>

  <body>
    <header>
      <% include ../partials/header.ejs %>
      <!-- Using ejs to import the header code -->
    </header>

    <main>
      <!-- Start of the grid container -->
      <div class="grid-container">

        <!-- Start of the filters -->
        <section id="filters">

        </section>
        <!-- End of the filters -->

        <!-- Start of the library container -->
        <section id="library">

        </section>
        <!-- End of the library container -->

      </div>
      <!-- End of the grid container -->
    </main>

    <footer class="grid-100 tablet-grid-100 footer">
      <% include ../partials/footer.ejs %>
      <!-- Using ejs to import the footer code -->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
