<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
        <!-- Using ejs to import the head code -->
        <link rel="stylesheet" type="text/css" href="/css/index-main.css">
        <link rel="stylesheet" type="text/css" href="/css/headerfooter.css">
        <link rel="stylesheet" type="text/css" href="/css/library.css">
        <link rel="stylesheet" type="text/css" href="/css/user.css">
        <!-- <script src="/scripts/movieinfo.js"></script> -->
        <!-- Linking the stylesheet for the index page -->
</head>

<body>
    <header>
        <% include ../partials/header.ejs %>
            <!-- Using ejs to import the header code -->
    </header>

    <!-- Start of main body -->
    <main>
      <section id="profile" class="grid-20 tablet-grid-33 mobile-grid-100">
        <ul>
          <li class="user"><h2>Hi, <%= user.login.username %></h2></li>
          <li class="user"><img src="/images/profile_pics/p<%= user.img%>.png" width="120px"></li>
          <li class="user">E-mail: <%= user.email %></li>
        </ul>
      </section>
      <!-- Start of the library container -->
      <section id="library" class="grid-80 mobile-grid-100 tablet-grid-33 grid-parent">

        <!-- Start of the library result -->
        <div class="grid-20 mobile-grid-45 tablet-grid-45 grid-parent librarybox">
          <div class="grid-100 libraryimage">
            <img class="poster" src="/images/poster0.jpg" alt="Poster">
          </div>
          <div class="grid-100 librarytitle">
            <h4 class="title">Guardians of the Galaxy</h4>
          </div>
          <div class="grid-100 librarybuttons">
            <button class="button">More Details</button>
            <button class="button">Remove</button>
          </div>
        </div>
        <!-- End of the library result -->

        <!-- Start of the library result -->
        <div class="grid-20 mobile-grid-45 tablet-grid-45 grid-parent librarybox">
          <div class="grid-100 libraryimage">
            <img class="poster" src="/images/poster0.jpg" alt="Poster">
          </div>
          <div class="grid-100 librarytitle">
            <h4 class="title">Guardians of the Galaxy</h4>
          </div>
          <div class="grid-100 librarybuttons">
            <button class="button">More Details</button>
            <button class="button">Remove from Library</button>
          </div>
        </div>
        <!-- End of the library result -->

        <!-- Start of the library result -->
        <div class="grid-20 mobile-grid-45 tablet-grid-45 grid-parent librarybox">
          <div class="grid-100 libraryimage">
            <img class="poster" src="/images/poster0.jpg" alt="Poster">
          </div>
          <div class="grid-100 librarytitle">
            <h4 class="title">Guardians of the Galaxy</h4>
          </div>
          <div class="grid-100 librarybuttons">
            <button class="button">More Details</button>
            <button class="button">Remove from Library</button>
          </div>
        </div>
        <!-- End of the library result -->

        <!-- Start of the library result -->
        <div class="grid-20 mobile-grid-45 tablet-grid-45 grid-parent librarybox">
          <div class="grid-100 libraryimage">
            <img class="poster" src="/images/poster0.jpg" alt="Poster">
          </div>
          <div class="grid-100 librarytitle">
            <h4 class="title">Guardians of the Galaxy</h4>
          </div>
          <div class="grid-100 librarybuttons">
            <button class="button">More Details</button>
            <button class="button">Remove from Library</button>
          </div>
        </div>
        <!-- End of the library result -->

      </section>
      <!-- End of the library container -->
    </main>
    <!-- end of main body -->

    <footer class="grid-100 tablet-grid-100 footer">
        <% include ../partials/footer.ejs %>
            <!-- Using ejs to import the footer code -->
    </footer>
</body>

</html>
