main {
  clear: both;
  margin:15%;
}

.slideshow {
  float: left;
  width: 89%;
}

.arrows {
  width: 5%;
}

.text, .image, .title{
  box-sizing:border-box;
  width: 90%;
  padding:0.5%;
  margin:0 0 2%;
}
.text {
  float: left;
  width: 75%;
}
.text h1 {
  font-size: 5em;
  color: white;
}

.info, .plot {
  width: 80%;
}

.info li {
  font-size: large;
  color: #ab0000;
  font-weight: bold;
}

i {
  font-size: small;
  color: #5B6073;
}

.plot {
  color: #5B6073;
  font-size: large;
  /*@override box-sizing: content-box important;*/
}

.image {
  float: right;
  width: 25%;

}
.image img{
  float: right;
}

.button {
  border-radius: 30px;
    font-weight: bold;
    background-color: #D75813;
    color: #ffffff;
    padding: 13px 25px;
    clear: both;
    float: left;
    margin-top: 3%;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover {
  background-color: transparent;
  color: #D75813;

}

.info, .plot, .title {
  bodrder: solid green;
  margin: 0;
}

.arrows img {
  width: 50%;
  padding-top: 210%;
  padding-bottom: 210%;
}
#left {
  clear: both;
  float: left;
}
#left img {
  width:52%;
  padding-top: 235%;
}

#right {
  float: right;
}

#right img {
  float: right;
  padding-top: 230%;
}

.slideshow, .arrows, .poster {
  bofrder: solid green;
}
/*--------------Slideshow end --------------*/

#white {
  width: 100%; !important;
  clear: both;
  background-color: white !important;
  padding: 5% 5% 5%;

}

.top {
  padding: 1%
}

.posters {
  float: left;
  width: 20%;
}

.provider {
  width: 92%;
  overflow: hidden;
  bsorder: solid green;
}

h2 {
  display: inline;
}

h2,.provider a {
  color: #ab0000;
}

.provider a{
  float: right;
  text-decoration: none;
}

.provider img {
  padding-left: 2.5%;
}

.poster-title{
  position: relative;
  display: inline-block;
}

.poster-title>span{
  position: absolute;
  bottom: 0;
  font-size: large;
  font-weight: 700;
  color: white;
  width: 100%;
  margin-left: 7px;
  padding: 5px;

}

.poster-title .imageInner{
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(91, 96, 115, 0.5);
  margin-left: 2.5%;
  width: 100%;
  height: 99%;
  text-align: center;
  vertical-align: middle;
}

.poster-title .imageInner span{
  position: relative;
  margin: 0;
  top: 50%;
}
.poster-title:hover .imageInner{
  display: block;
  z-index: 999;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.imageInner .poster-button {
    border-radius: 30px;
      font-weight: bold;
      background-color: #ab0000;
      color: #fff;
      padding: 13px 25px;
      margin: auto;
      position: relative;
      float: unset;
      font-size: 0.75em;
      text-transform: uppercase;
      text-decoration: none;
}
