    <!-- ejs file for the head of all the pages -->

    <meta charset="utf-8">
    <meta name="author" content="Kate Fowler, Hugh Fraser, Chloe Greenwood, Paul McGuire and Silviya Tacheva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where's my Movie</title>
    <!-- Specifying the site's metadata and title -->
    <link rel="stylesheet" type="text/css" href="/css/headerfooter.css">
    <link rel="stylesheet" type="text/css" href="/css/unsemantic-grid-responsive-tablet.css">
    <!-- Linking to all the universal stylesheets e.g. unsemantic -->
