main {
  clear: both;
  margin:15%;
}

.loginsignup {
  width: 100%;
}

.loginsignup {
  width: 60%;
  margin: auto;
}

.loginsignupbutton {
  width: 20%;
  position: relative;
}

.text, .image, .title{
  box-sizing:border-box;
  width: 70%;
  padding:0.5%;
  margin:0 0 2%;
}


navbar {
  text-align: center;
}
.text {
  float: left;
  width: 75%;
}
 h2 {
  font-size: 4em;
  color: #5B6073;
  width: auto;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    width: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.info, .plot {
  width: 80%;
}

.info li {
  font-size: large;
  color: #ab0000;
  font-weight: bold;
}

i {
  font-size: small;
  color: #5B6073;
}

.plot {
  color: #5B6073;
  font-size: large;
  @override box-sizing: content-box important;
}

.image {
  float: right;
  width: 25%;

}
.image img{
  float: right;
}

.button {
  border-radius: 30px;
    font-weight: bold;
    background-color: #D75813;
    color: #ffffff;
    padding: 13px 25px;
    clear: both;
    float: left;
    margin-top: 3%;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover {
  background-color: transparent;
  color: #D75813;

}

.info, .plot, .title {
  bodrder: solid green;
  margin: 0;
}



div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover input {
    display: block;
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.update {
    top:0;
    left:0;
}
