main {
  clear: both;
  margin:15%;
}
.rbPic{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.rbPic + .prof_pic{ /* IMAGE STYLES */
  cursor:pointer;
  border:4px solid  #D75813;
  margin: 2%;
  width: 20%;
}
.rbPic:checked + .prof_pic{ /* (RADIO CHECKED) IMAGE STYLES */
  border:5px solid  #AB0000;
}
* {box-sizing: border-box}

.slideshow {
  display: none;
  margin: 10%;
  width:50%;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  color: #AB0000;
}

/* Position the "next button" to the right */
.next {
  margin-left: 60%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #D75813;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
