<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- please work so i don't have to die -->
    <meta charset="utf-8">
    <title>Where's my movie</title>
    <link rel="stylesheet" href="header and footer.css">
    <link rel="stylesheet" href="signuploginstyle.css">
    <style type="text/css">@import url("unsemantic-grid-responsive-tablet.css");</style>

  </head>

  <body>
    <header>
      <div id="logo">
        <!-- need to change the logo -->
        <a href="index.html"><img id="logo-img" src="black-logo.png"  alt="Website's logo" width="13%"></a>
      </div>

      <!-- search box -->
      <section class="grid-20 tablet-grid-15 mobile-grid-100" id= "search">
        <input id="searchBox" type="search" placeholder="Search">
        <img  id="searchIcon" src= "lupa-orange.png" alt="Search Icon" />
      </section>
      <!-- end of search box -->

      <!-- menu -->
      <navbar>
        <ul>
          <li><a id="menu-item" href="library.html">Library</a></li>
          <li><a id="menu-item" href="signuplogin.html">Log in</a></li>
          <li><a id="menu-item" href="signuplogin.html">Sign up</a></li>
        </ul>
      <navbar>
      <!-- end of menu -->
    </header>

    <main>
  <!-- <div class="slideshow-container">

    <div class="slideshow fade">
      <label>
      <input class="rbPic" type="radio" name="img" />
      <img class="prof_pic"src="iloveimg-resized/p23.png" width="100">
    </label>
    <label>
      <input class="rbPic" type="radio" name="img" />
      <img class="prof_pic"src="iloveimg-resized/p31.png" width="100">
    </label>
    <label>
      <input class="rbPic" type="radio" name="img" />
      <img class="prof_pic"src="iloveimg-resized/p32.png" width="100">
    </label>
    <label>
      <input class="rbPic" type="radio" name="img" />
      <img class="prof_pic"src="iloveimg-resized/p40.png" width="100">
    </label>
    </div>

<div class="slideshow fade">
  <label>
  <input class="rbPic" type="radio" name="img" />
  <img class="prof_pic"src="iloveimg-resized/p2.png" width="100">
</label>
<label>
  <input class="rbPic" type="radio" name="img" />
  <img class="prof_pic"src="iloveimg-resized/p3.png" width="100">
</label>
<label>
  <input class="rbPic" type="radio" name="img" />
  <img class="prof_pic"src="iloveimg-resized/p12.png" width="100">
</label>
<label>
  <input class="rbPic" type="radio" name="img" />
  <img class="prof_pic"src="iloveimg-resized/p22.png" width="100">
</label>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div> -->

<div class="slideshow-container">
  <%for(var i = 1; i < 13; i++) {%>
  <div class="slideshow fade">
    <%for(var j = 1; j < 5; i++) {%>
    <label>
    <input class="rbPic" type="radio" name="img" />
    <img class="prof_pic"src="/images/profile_pics/p<%i*j - 1%>.png" width="100">
  </label>
  <% } %>
  </div>
  <% } %>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

    </main>
    <script src="slideshowscript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
