    <!-- ejs file for the footer of all the pages -->

    <!-- Standard footer links -->
    <ul id="footer-menu" class="prefix-25 grid-50 tablet-prefix-25 tablet-grid-50 mobile-prefix-5 mobile-grid-90">
      <li><a href="#" class="footer-menu">Accessibility</a></li>
      <li>|</li>
      <li><a href="#" class="footer-menu">Privacy</a></li>
      <li>|</li>
      <li><a href="#" class="footer-menu">Cookie Preferences</a></li>
      <li>|</li>
      <li><a href="#" class="footer-menu">Sitemap</a></li>
      <li>|</li>
      <li><a href="#" class="footer-menu">Copyright</a></li>
      <!-- Unordered list of links of various standard footer properties and dividers - none of these actually link -->
      <!-- The list is styled/positioned with unsemantic -->
    </ul>
    <!-- End of standard footer links -->

    <!-- Social media logo links -->
    <div id="socialMediaLogos" class="grid-25 tablet-grid-25 mobile-grid-100">
      <a href="#"><img id="inst" class="mobile-grid-33" src="/images/insta-logo-orange.png" alt="Instagram Logo"/></a>
      <a href="#"><img id="tw" class="mobile-grid-33" src="/images/twitter-logo-orange.png" alt="Twitter Logo"/></a>
      <a href="#"><img id="fb" class="mobile-grid-33" src="/images/fb-logo-orange.png" alt="Facebook Logo"/></a>
      <!-- Social media logos for Instagram, Twitter and Facebook lined up side by side -->
      <!-- There are styled/positioned using unsemantic -->
    </div>
    <!-- End of social media links -->

    <!-- Remaining footer items -->
    <div class = "grid-100 tablet-grid-100 footer">
      <div id="copyright">
        <p>© 2018 Where is my Movie. All Rights Reserved. Designed by Group 8.</p>
        <!-- Copyright notice and identification of who built it -->
      </div>
      <div>
        <a href="/" id="back-to-top">Back to top ↑</a>
        <!-- Link back to the top of the page -->
      </div>
    </div>
    <!-- End of remaining footer items -->
