<!-- ejs file for the header of all the pages -->
        <div class="prefix-15 grid-35 mobile-prefix-25 mobile-grid-50 mobile-suffix-25 tablet-prefix-5 tablet-grid-40" id="logo">
          <!-- need to change the logo -->
          <a href="/"><img id="logo-img" src="/images/black-logo.png"  alt="Website's logo" width="35%"></a>
          <!-- Image used as a link back to the home page -->
        </div>

        <!-- Navigation menu bar-->
        <navbar class="prefix-15 grid-35 mobile-grid-100 tablet-prefix-5 tablet-grid-40 ">
          <ul>
            <li><a id="menu-item" href="/library">Library</a></li>
            <li><a id="menu-item" href="/signuplogin">Log in</a></li>
            <li><a id="menu-item" href="/signuplogin">Sign up</a></li>
            <!-- Navigation bar using unordered list, each item linking to a different page through a server route -->
          </ul>
        </navbar>
        <!-- End of navigation menu bar -->

        <!-- Search box -->
        <div id="search" class="prefix-20 grid-60 mobile-prefix-10 mobile-grid-80 mobile-suffix-10 tablet-prefix-10 tablet-grid-80">
          <form action="/search" method="get">
            <input type="text" name="search" placeholder="Search by title..." id="searchBox" >
            <input type="image" src="/images/lupa-orange.png" alt="Submit" id="searchIcon">
            <!-- Search bar using a custom image as a submit button -->
          </form>
        </div>
        <!-- End of search box -->
