    <!-- ejs file for the header of all the pages -->

    <div id="logo">
      <!-- need to change the logo -->
      <a href="/"><img id="logo-img" src="/images/black-logo.png"  alt="Website's logo" width="13%"></a>
      <!-- Image used as a link back to the home page -->
    </div>

    <!-- Search box -->
    <div class= "tablet-grid-15 mobile-grid-100" id="search">
    <!-- There was a -20 class used here, but no indication of which this referred to so it's been removed -->
      <input id="searchBox"  type="search" placeholder="Search">
      <img id="searchIcon" src= "/images/lupa-orange.png" alt="Search Icon" />
    </div>
    <!-- End of search box -->

    <!-- Navigation menu bar-->
    <navbar>
      <ul>
        <li><a id="menu-item" href="/library">Library</a></li>
        <li><a id="menu-item" href="/signuplogin">Log in</a></li>
        <li><a id="menu-item" href="/signuplogin">Sign up</a></li>
        <!-- Unordered list of items linking to their corresponding routes -->
      </ul>
    <navbar>
    <!-- End of navigation menu bar -->
