<!-- ejs file for the header of all the pages -->
<div class="prefix-15 grid-35 tablet-prefix-5 tablet-grid-40 mobile-grid-100" id="logo">
   <!-- need to change the logo -->
   <a href="/"><img id="logo-img" src="/images/black-logo.png"  alt="Website's logo" width="35%"></a>
   <!-- Image used as a link back to the home page -->
</div>
<!-- Navigation menu bar-->
<navbar class="prefix-15 grid-35 tablet-prefix-5 tablet-grid-40 mobile-grid-100">
   <ul>
      <li><a id="menu-item" href="/library">Library</a></li>
      <li><a id="menu-item" href="/signuplogin">Log in</a></li>
      <li><a id="menu-item" href="/signuplogin">Sign up</a></li>
   </ul>
</navbar>
<!-- End of navigation menu bar -->
<!-- Search box -->
<div id="search" class="prefix-20 grid-60 tablet-prefix-10 tablet-grid-80 mobile-grid-100">
   <form action="/search" method="POST">
      <input id="searchBox" type="search" name="title" placeholder="Search">
      <input type="image" src="/images/lupa-orange.png" alt="Submit" id="searchIcon">
   </form>
</div>
<!-- End of search box -->
