<ul>
  <li><a id="menu-item" href="/library">Library</a></li>
  <li><a id="menu-item" href="/user">My Movies</a></li>
  <li><a id="menu-item" href="/">Log out</a></li>
  <!-- Navigation bar using unordered list, each item linking to a different page through a server route -->
</ul>
