<div class="poster-title">
   <img src="/images/poster1.jpg" alt="Poster 1">
   <span>Into The Wild</span>
   <div class="imageInner">
      <span><a href="/movieshowinfo" class="poster-button" tabindex="-1">more details</a></span>
   </div>
</div>
