main {
  clear: both;
  margin:15%;
}

h4 {
  text-align: center;
  text-transform:uppercase;
  color: #D75813;
}

h4 a {
  text-decoration: : none;
  color: #D75813;
}

.user {
  text-align: justify;
}

.user img {
  border-radius: 50%;
}

.button {
  background-color: #D75813;
  border-radius: 30px;
  border-color: transparent;
  padding: 13px 25px;
  margin-top: 3%;
  /* The button is given an orange color, its edges rounded, some padding added and separation from */
  /* No items are allowed to float around it and it floats to the left of its containing element */
  font-weight: bold;
  color: #FFFFFF;
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
  /* The text is bold, white, set to a certain size, made uppercase and has decoration stripped */
  display: inline-block;
  width: 100%;
}

.button:hover {
  background-color: transparent;
  color: #D75813;
  /* When the button is hovered over it becomes transparent and the text becomes orange */
}

.title{
  color: #FFFFFF;
  text-align: center;
  padding: 1%;
}

.moredetails {
  width: 95%;
}

.poster {
  float: right;
  width: 100%;
}

/* #library, .librarybox, .libraryimage, .librarytitle, .librarybuttons {
  border: 1px solid green;
  box-sizing: border-box;
} */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .librarybox {
    margin: 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .librarybox {
    margin: 10%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {
  .librarybox {
    margin: 2.5%;
  }
}
