.slideshow {
  width: 100% !important;
}
.text {
  float: right !important;
}
.image {
  float: left !important;
}

.text h1, .button {
  float: right !important;
}

.button {
  margin-right: 20%;
}

hr {
    margin: 2.5%;
    /* border-color: #5B6073; */
    border-color: #D75813;
}

.title, .info, .plot {
  width:100% !important;
}
