main {
  clear: both;
  margin: 15%;
  /* No elements are allowed to float within the main element and it has a margin around it of 15% */
}

/* ---------- FORM ---------- */

/* ----- General ----- */

h2 {
  font-size: xx-large;
  color: #AB0000;
  width: auto;
  margin: 5%;
  text-align: center;
  /* The h2 tags have a red text colour, a set text size and a browser calculated width */
}

input {
  display: inline-block;
  padding: 12px 20px;
  margin-bottom: 2%;
  width: 50%;
  margin-left: 25%;
  border-color: transparent;
  box-sizing: border-box;
  text-align: center;
  /* Each input box will have the full width of its container and padding within to make the text boxes bigger */
}

.button {
  background-color: #D75813;
  display: block;
  border-radius: 30px;
  border-color: transparent;
  padding: 13px 25px;
  margin: auto;
  /* The button is given an orange color, its edges rounded, some padding added and separation from */
  clear: both;
  /* No items are allowed to float around it and it floats to the left of its containing element */
  font-weight: bold;
  color: #FFFFFF;
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
  /* The text is bold, white, set to a certain size, made uppercase and has decoration stripped */
}

.button:hover {
  background-color: transparent;
  color: #D75813;
  /* When the button is hovered over it becomes transparent and the text becomes orange */
}

hr {
  width: 75%;
  /* The line will take 75% of its parent element */
}

#login, #signup {
  /* border: 1px solid green; */
  /* Adding a border so I can see where each element starts and ends */
  margin-top: 10%;
  /* Making everything in the centre */
  box-sizing: border-box;
  /* Including the border in any floating */
  position: relative;
}
/* ----- Log In ----- */

/* ----- Sign Up ----- */
