/* *{border: solid green} */
main{
  margin: 10%;
}

.user {
  text-align: justify;
}

.user img {
  border-radius: 50%;
}

.posters {
  width: 30% !important;
  margin-top: 2% !important;
}

.poster-title {
  width: 72% !important;
}

.poster-title >span {
  margin-left: -75% !important;
  padding: 7.5% !important;
}

.imageInner{
  width: 100% !important;
height: 99% !important;
margin: 0% !important;
}
