<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
    <!-- Using ejs to import the head code  -->
    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <!-- Linking the stylesheet for the index page -->
  </head>

  <body>
    <header>
      <% include ../partials/header.ejs %>
      <!-- Using ejs to import the header code -->
    </header>

    <main>

      <!-- Start of results section -->
      <section id="searchresults">
        <!-- Start of grid container -->
        <div class="grid-container" id="results">

          <!--
          <div class="grid-100 grid-parent resultbox result">
            <div class="grid-80 resultbox">
              <div class="text">
                <h1 class="title">Guardians of the Galaxy</h1>
                <ul class="info">
                  <li class="rating">⭐️ 7.4 <i> /10</i></li>
                  <li class="duration">Run Time: 2h 21m</li>
                  <li class="age">Rated: PG-13</li>
                </ul>
              </div>
              <div class="moredetails">
                <button class="button">More Details</button>
              </div>
            </div>

            <div class="grid-20 resultbox">
              <img class="poster" src="/images/poster0.jpg" alt = "Poster">
            </div>
          </div>
          -->

        </div>
        <!-- End of grid container -->
      </section>
      <!-- End of results section -->

    </main>

    <footer class="grid-100 tablet-grid-100 footer">
      <% include ../partials/footer.ejs %>
      <!-- Using ejs to import the footer code -->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/searchresults.js"></script>
  </body>
</html>
